<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link >
</head>
<body>
    <nav class="navbar bg-body-tertiary shadow-sm fixed-top bg-cyan">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg
" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Anthony
        </a>
  </div>
</nav>
<div style="height: 56px;"></div>
</body>
</html>